name: Create Azure Resources
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  DOTNET_VERSION: '8.0.x'
  RESOURCE_GROUP: 'ACME-Calculator-RG'
  WEBAPP_NAME: 'ps-acme-web-calculator'
  PROJECT_NAME: './ACME.Web.Calculator/ACME.Web.Calculator.csproj'
  PROJECT_FILENAME: 'ACME.Web.Calculator'
jobs:
    prepare:
        runs-on: windows-latest
        permissions:
          id-token: write
        steps:       
        - name: Login to Azure
          uses: azure/login@v2
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}
            enable-AzPSSession: true
        - name: Create Resource Group if not exists
          uses: azure/powershell@v2
          with:
            inlineScript: |
              /drop/CreateResourceGroup.ps1 -resourceGroupName ${{ env.RESOURCE_GROUP }} -location 'westeurope'
            azpsVersion: 'latest'
        - name: Deploy ARM template
          uses: azure/arm-deploy@v2
          with:
            resource-group: ${{ env.RESOURCE_GROUP }}
            template: /drop/webapp-basic.bicep
            parameters: app_name=${{ env.WEBAPP_NAME }}